/*ESTILO GENERAL*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

a {
    color: inherit;
}

div, section, main, li {
    display: flex;
}

section {
    flex-direction: column;
}

h1, h2, h3, h4, p, li, button, label {
    color: white;
    font-family: 'Oxanium';
    font-weight: 500;
}

h2 {
    font-size: 38px;
}

h1 {
    font-size: 48px;
}

h3, li, label{
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 14px;
}

body {
    flex-direction: column;
}

header, .headerCategorias {
    background-color: #7D218A;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    align-items: center;
}


nav a {
    display: flex;
    align-items: center;
}

footer {
    background-color: #7D218A;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

main, .seccionCategorias {
    background-color: #4D0258;
    flex-direction: column;
    padding-top: 14px;
    padding-bottom: 22px;
    min-height: 90vh;
}

button {
    background-color: #A960B3;
    width: 100px;
    height: 36px;
    border-radius: 4px;
}

button:hover {
    width: 102px;
    height: 38px;
}

/*MENU*/

header ul li {
    display: none;
}

header ul li:first-child, header ul li:nth-child(2), header ul li:last-child {
    display: flex;
}

#menu {
    flex-direction: column;
    position: absolute;
    display: none;
    transition: display;
}

#menu:target {
    display: flex;
    width: 100%;
}


/*HOME*/

.card-container {
    margin: 0 15px 6px 15px;
}

.card-container section {
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 10px;
}

.card-container section a {
    width: 100%;
}

.card {
    flex-direction: column;
    text-align: center;
    border: solid white 4px;
    box-sizing: border-box;
}

.card h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    background-color: #A960B3;
}

.card-container img {
    width: 100%;
    height: 127px;
    object-fit: cover;
}

.adCard {
    border: solid black 10px;
    height: 163px;
    box-sizing: border-box;
}

.adCard:hover {
    border: solid black 12px;
    opacity: 0.5;
}

.adCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tituloCategoria {
    align-items: baseline;
    justify-content: space-between;
    padding-right: 5px;
}

.tituloCategoria p {
    text-decoration: underline;
}

/*ESTILOS DE LOGIN Y REGISTER*/

.loginUsuario, .inputsUsuario, .inputsBotones{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
}

.inputsUsuario {
    align-items: flex-start;
}

.inputsUsuario input {
    width: 100%;
    width: 300px;
    height: 30px;
    outline: white solid 2px;
    border-radius: 5px;
    background-color: #4D0258;
}

.inputsUsuario h4{
    margin-left: 20px;
    margin-top: 10px;
}

.inputsBotones *{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputsBotones a {
    width: 100%;
}

.botonIngresar {
    background-color: #A960B3;
    transition: padding 0.2s;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12% 15%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.botonIngresar:hover {
    padding: 15% 18%;
}

.botonCambiarAccion {
    text-decoration: underline;
    background-color: #4D0258;
    color: white;
}

/*ANIMACION LOGIN*/

.cubo, .cara {
    width: 150px;
    height: 150px;
    margin: 30px auto;
}

.cara {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.cara img {
    max-width: 50%;
    max-height: 50%;
}

.cubo {
    transform: perspective(700px) rotateX(-30deg) rotateY(-30deg);
    transform-style: preserve-3d;
    animation-name: rotacion;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#superior {
    background-color:#A960B3;
    transform: rotateX(90deg) translateZ(100px);
    border: white solid 4px;
}

#frente {
    background-color: #7D218A;
    transform: translateZ(100px);
    border: white solid 4px;
}

#trasera {
    background-color: #7D218A;
    transform: translateZ(-100px);
    border: white solid 4px;
}

#derecha {
    background-color: #7D218A;
    transform: rotateY(90deg) translateZ(100px);
    border: white solid 4px;
}

#izquierda {
    background-color: #7D218A;
    transform: rotateY(-90deg) translateZ(100px);
    border: white solid 4px;
}

#inferior {
    background-color: #A960B3;
    transform: rotateX(-90deg) translateZ(100px);
    border: white solid 4px;
}

@keyframes rotacion {
    0% {transform: rotateY(0deg) rotateX(0deg);}
    100% {transform: rotateY(360deg) rotateX(360deg);}
}

/*ESTILOS DE SECCION CATEGORIAS*/

.seccionFiltros {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.seccionFiltros * {
    align-items: center;
    margin: 3px;
}

/*ESTILOS DE SECCION CATEGORIAS*/

.seccionCategorias {
    flex-direction: column;
    min-height: 90vh;
}

.seccionCategorias h1{
    margin-bottom: 5px;
    margin-left: 20px;
}

.seccionCategorias ul{
    margin-top: 25px;
    margin-left: 40px;
}

.seccionCategorias li::before {
    content: "\2022";
    color: white;
    display: inline-block;
    width: 1em;
}

.seccionCategorias li {
    margin: 10px 0;
}

.seccionCategorias form {
    display: flex;
    background-color: white;
    width: 90%;
    align-self: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
}

/*ESTILOS DEL USERPAGE*/

.cardUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionJuegosFavoritos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#userName {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 24px;
}

#userName img:first-child {
    height: 63px;
}

#userName h3 {
    margin: 0 10px;
}

/*SEARCH*/

.searchTitle {
    flex-direction: column;
    align-items: baseline;
}

.searchTitle div {
    width: 100%;
    justify-content: end;
    margin-bottom: 3px;
    align-items: center;
}

.searchTitle img {
    height: 16px;
    width: 16px;
    padding-left: 5px;
}


/*GAME*/

#gamePage {
    flex-direction: column;
    margin: 0 12px;
}

#gamePage section {
    margin-bottom: 37px;
}

#gamePage section:first-child {
    align-items: center;
}

#gamePage section:first-child div:first-child {
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#gamePage section:first-child div img {
    margin-right: 10px;
    margin-left: 5px;
}

#gamePage section > img {
    margin: 12px 0;
    width: 100%;
}

#gamePage h4 {
    margin-bottom: 10px;
}

.carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.carrousel ul, .carrousel li {
    padding: 0;
    margin: 0;
    list-style: none inside;
}

ul.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

ul.slider img {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    left: 7%;
    top: 0px;
    margin: 0px;
    padding: 0px;
    background: white;
    max-width: 300px;
}

ul.slider img:first-child {
    opacity: 1;
}

ul.slider img:target {
    opacity: 1;
}

.carrousel nav{
    position: relative;
    margin-top: 200px;
}

.carrousel .menu li{
    display: inline;
}

.menu a {
    text-decoration: none;
    padding: 5px;
    border: black 1px solid;
    transition: background-color 2s;
}

.menu a:hover {
    background-color: grey;
}

/*PLAY*/

main > img {
    min-height: 90vh;
    object-fit: cover;
    margin: 17px 0;
}


/*HOVER*/

.card, .adCard, nav ul li, .botonCambiarAccion, .botonIngresar, #botonFlecha:hover, #gamePage button,
.seccionCategorias ul li, #editarUser{
    cursor: pointer;
}

/*LOADING*/

.loading {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation-name: loading;
    animation-iteration-count: 1;
    animation-duration: 0.3s;
}

@keyframes loading {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

.hidden {
    overflow: hidden;
}

@media only screen and (min-width: 480px) {
    .card-container section {
        grid-template-columns: 32% 32% 32%;
    }
}

@media only screen and (min-width: 768px) {
    .card-container section {
        grid-template-columns: 24% 24% 24% 24%;
    }
}

@media only screen and (min-width: 1024px) {

    /*MENU*/

    header ul {
        justify-content: space-between;
    }

    header ul li {
        display: flex;
    }

    header ul li:first-child {
        display: none;
    }

    header ul img {
        width: 25px;
        margin-right: 10px;
    }

    header ul li a {
        font-size: 20px;
    }

    header ul li:nth-child(2) img, header ul li:last-child img {
        width: auto;
        margin-right: 0;
    }

    /*CARDS*/

    .card-container section {
        grid-template-columns: 19% 19% 19% 19% 19%;
    }

    .card-container h3 {
        margin-left: 8px;
        margin-right: 15px;
    }

    .tituloCategoria {
        justify-content: start;
    }

}

@media only screen and (min-width: 1264px) {
    .card-container section {
        grid-template-columns: 15% 15% 15% 15% 15% 15%;
    }
}

@media only screen and (min-width: 1600px) {
    .card-container section {
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    }
}